<% layout(layout_directory+'/mainLayout') -%>

    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <%= page_title %>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        </div>
    </div>

    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="row">
            <div class="col-lg-12">
                <div class="kt-portlet">
                    <form class="kt-form kt-form--label-right" id="frmEditHomeContent" action="<%= generateUrl('homecontent.update') %>" method="POST" enctype="multipart/form-data">
                        
                        <div class="kt-portlet__body">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <%response.languages.map((data)=>{%>
                                <%if(data.isDefault){%>
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab"
                                        href="#kt_tabs_<%=data.shortcode%>"><%=data.title%></a>
                                </li>
                                <%}else{%>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#kt_tabs_<%=data.shortcode%>"><%=data.title%></a>
                                </li>
                                <%}%>
                            <%})%>
                            </ul>
                            <div class="tab-content">
                                <%
                                        let count = 0;
                                        response.languages.map((language)=>{
                                    %>
                                <%if(language.shortcode == 'en'){%>
                                <div class="tab-pane active" id="kt_tabs_<%=language.shortcode%>" role="tabpanel">
                                    
                                    <div class="form-group row">
                                        <div class="col-lg-6">
                                            <label>Banner Image:</label>
                                            <input id="bannerImage" name="bannerImage" type="file" placeholder="Image" accept="image/*" class="form-control"/>
                                            <input type="hidden" name="bannerImage" value="<%=response.homecontent_data.bannerImage%>">
                                        </div>
                                        <% if(response.homecontent_data.bannerImage) { %>
                                        <div class="col-lg-6">
                                            <img src="/uploads/homecontent/<%= response.homecontent_data.bannerImage %>" alt="" class="img-responsive" height="80px"/>
                                        </div>
                                        <% } %>
                                    </div>
                                    <div class="form-group row">
                                       <div class="col-lg-6">
                                            <label>Banner Text:</label>
                                            <input type="text" name="bannerText" id="bannerText" class="form-control" placeholder="Enter Banner Text" value="<%= response.homecontent_data.bannerText%>">
                                        </div>
                                    </div>
        
                                    <div class="form-group row">
                                        <div class="col-lg-12">
                                            <label>Content:</label>
                                            <textarea class="ckeditor form-control" name="content" id="content" placeholder="Enter Content" rows="4"><%= response.homecontent_data.content%></textarea>
                                        </div>
                                    </div>
                                    <% if(response.homecontent_data.realEstateService) {%>
                                        <div class="form-group row">
                                            <div class="col-lg-6">
                                                <label>Real estate service Title:</label>
                                                <input type="text" name="realEstateService[title]" id="realEstateServiceTitle" class="form-control" placeholder="Enter Section Title" value="<%= response.homecontent_data.realEstateService.title %>">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-12">
                                                <label>Real estate service Description:</label>
                                                <textarea class="ckeditor form-control" name="realEstateService[description]" id="realEstateServiceDesc" placeholder="Enter Section Description" rows="4"><%= response.homecontent_data.realEstateService.description %></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-6">
                                                <label for="pageHeadingImage" class="control-label">Real estate service Image</label>
                                                <div class="controls">
                                                    <input id="realEstateServiceImage" name="realEstateService_image" type="file" placeholder="Enter Image" accept="image/*" class="form-control"/>
                                                </div>
                                                <input type="hidden" name="realEstateService[image]" value="<%=response.homecontent_data.realEstateService.image%>">
                                            </div>
                                            <div class="col-lg-6">
                                                <% if ( response.homecontent_data.realEstateService.image) {%>
                                                    <img class="" id="" height="80px" src="/uploads/homecontent/<%= response.homecontent_data.realEstateService.image %>">
                                                <% }%>
                                            </div>
                                        </div>
                                       <% } %>
                                    <% if(response.homecontent_data.artOfLiving) {%>
                                            <div class="form-group row">
                                                <div class="col-lg-6">
                                                    <label>Art of living Title:</label>
                                                    <input type="text" name="artOfLiving[title]" id="artOfLivingTitle" class="form-control" placeholder="Enter Section Title" value="<%= response.homecontent_data.artOfLiving.title %>">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-lg-12">
                                                    <label>Art of living Description:</label>
                                                    <textarea class="ckeditor form-control" name="artOfLiving[description]" id="artOfLivingDesc" placeholder="Enter Section Description" rows="4"><%= response.homecontent_data.artOfLiving.description %></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-lg-6">
                                                    <label for="pageHeadingImage" class="control-label">Art of living Image</label>
                                                    <div class="controls">
                                                        <input id="artOfLivingImage" name="artOfLiving_image" type="file" placeholder="Enter Image" accept="image/*" class="form-control"/>
                                                    </div>
                                                    <input type="hidden" name="artOfLiving[image]" value="<%=response.homecontent_data.artOfLiving.image%>">
                                                </div>
                                                <div class="col-lg-6">
                                                    <% if ( response.homecontent_data.artOfLiving.image) {%>
                                                        <img class="" id="" height="80px" src="/uploads/homecontent/<%= response.homecontent_data.artOfLiving.image %>">
                                                    <% }%>
                                                </div>
                                            </div>
                                           <% } %>
                                           
                                           <div class="form-group row">
                                                <div class="col-lg-6">
                                                    <label>Current Properties Heading:</label>
                                                    <input type="text" name="currentPropertiesHeading" id="currentPropertiesHeading" class="form-control" placeholder="Enter Heading" value="<%= response.homecontent_data.currentPropertiesHeading%>">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-lg-12">
                                                    <label>Current Properties Content:</label>
                                                    <textarea class="ckeditor form-control" name="currentPropertiesText" id="currentPropertiesText" placeholder="Enter Content" rows="4"><%= response.homecontent_data.currentPropertiesText%></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-lg-6">
                                                    <label>Contact Us Heading:</label>
                                                    <input type="text" name="contactusHeading" id="contactusHeading" class="form-control" placeholder="Enter Heading" value="<%= response.homecontent_data.contactusHeading %>">
                                                </div>
                                            </div>
                                       
                                </div>
                                <% }else{
                                    let bannerText = ''
                                    let content = '' 
                                    let realEstateTitle = ''  
                                    let realEstateDesc = '' 
                                    let artLivingTitle = ''
                                    let artLivingDesc = ''
                                    let currentPropertiesHeading = ''
                                    let currentPropertiesText = ''
                                    let contactusHeading = ''

                                    if(_.has(response.homecontent_data.translate,language.shortcode)) {
                                        bannerText =  response.homecontent_data.translate[language.shortcode].bannerText
                                        content =  response.homecontent_data.translate[language.shortcode].content
                                        realEstateTitle =  response.homecontent_data.translate[language.shortcode].realEstateService.title
                                        realEstateDesc =  response.homecontent_data.translate[language.shortcode].realEstateService.description
                                        artLivingTitle =  response.homecontent_data.translate[language.shortcode].artOfLiving.title
                                        artLivingDesc =  response.homecontent_data.translate[language.shortcode].artOfLiving.description
                                        currentPropertiesHeading =  response.homecontent_data.translate[language.shortcode].currentPropertiesHeading
                                        currentPropertiesText = response.homecontent_data.translate[language.shortcode].currentPropertiesText
                                        contactusHeading = response.homecontent_data.translate[language.shortcode].contactusHeading
                                    }
                                %>
                                <div class="tab-pane" id="kt_tabs_<%=language.shortcode%>" role="tabpanel">
                                    <div class="form-group row">
                                        <div class="col-lg-6">
                                            <label>Banner Text:</label>
                                            <input type="text" name="translate[<%=count%>][bannerText]" id="bannerText_<%=count%>" class="form-control" placeholder="Enter Banner Text" value="<%= bannerText%>">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-lg-12">
                                            <label>Content:</label>
                                            <textarea class="ckeditor form-control" name="translate[<%=count%>][content]" id="content_<%=count%>" placeholder="Enter Content" rows="4"><%= content%></textarea>
                                        </div>
                                    </div>
                                        <div class="form-group row">
                                            <div class="col-lg-6">
                                                <label>Real estate service Title:</label>
                                                <input type="text" name="translate[<%=count%>][realEstateService][title]" id="realEstateServiceTitle_<%=count%>" class="form-control" placeholder="Enter Title" value="<%= realEstateTitle %>">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-12">
                                                <label>Real estate service Description:</label>
                                                <textarea class="ckeditor form-control" name="translate[<%=count%>][realEstateService][description]" id="realEstateServiceDesc_<%=count%>" placeholder="Enter Description" rows="4"><%= realEstateDesc %></textarea>
                                            </div>
                                        </div>
                                      
                                     
                                        <div class="form-group row">
                                            <div class="col-lg-6">
                                                <label>Art of living Title:</label>
                                                <input type="text" name="translate[<%=count%>][artOfLiving][title]" id="artOfLivingTitle_<%=count%>" class="form-control" placeholder="Enter Title" value="<%= artLivingTitle %>">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-12">
                                                <label>Art of living Description:</label>
                                                <textarea class="ckeditor form-control" name="translate[<%=count%>][artOfLiving][description]" id="artOfLivingDesc_<%=count%>" placeholder="Enter Description" rows="4"><%= artLivingDesc %></textarea>
                                            </div>
                                        </div>
                                     
                                      <div class="form-group row">
                                        <div class="col-lg-6">
                                            <label>Current Properties Heading:</label>
                                            <input type="text" name="translate[<%=count%>][currentPropertiesHeading]" id="currentPropertiesHeading_<%=count%>" class="form-control" placeholder="Enter Heading" value="<%= currentPropertiesHeading%>">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-lg-12">
                                            <label>Current Properties Content:</label>
                                            <textarea class="ckeditor form-control" name="translate[<%=count%>][currentPropertiesText]" id="currentPropertiesText_<%=count%>" placeholder="Enter Content" rows="4"><%= currentPropertiesText%></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-lg-6">
                                            <label>Contact Us Heading:</label>
                                            <input type="text" name="translate[<%=count%>][contactusHeading]" id="contactusHeading_<%=count%>" class="form-control" placeholder="Enter Heading" value="<%= contactusHeading %>">
                                        </div>
                                    </div>
                                    
                                    <input type="hidden" name="translate[<%=count%>][language]" value="<%=language.shortcode%>">
                                </div>
                                <% count++ }%>
                                <%})%>
                            </div>
                            <!-- hidden user id -->
                        </div>
                        <div class="kt-portlet__foot">
                            <div class="kt-form__actions">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input type="hidden" name="id" value="<%= response.homecontent_data._id%>">
                                        <button type="submit" class="btn btn-primary">Update</button>
                                        <a href="<%= generateUrl('homecontent.edit') %>" class="btn btn-secondary">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>