<% layout(layout_directory+'/mainLayout') -%>

    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <%= page_title %>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        </div>
    </div>

    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="row">
            <div class="col-lg-12">
                <div class="kt-portlet">
                    <form class="kt-form kt-form--label-right" id="frmEditYachtingWorld" action="<%= generateUrl('yachting.world.update') %>" method="POST" enctype="multipart/form-data">
                        
                        <div class="kt-portlet__body">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <%response.languages.map((data)=>{%>
                                <%if(data.isDefault){%>
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab"
                                        href="#kt_tabs_<%=data.shortcode%>"><%=data.title%></a>
                                </li>
                                <%}else{%>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#kt_tabs_<%=data.shortcode%>"><%=data.title%></a>
                                </li>
                                <%}%>
                            <%})%>
                            </ul>
                            <div class="tab-content">
                                <%
                                        let count = 0;
                                        response.languages.map((language)=>{
                                    %>
                                <%if(language.shortcode == 'en'){%>
                                <div class="tab-pane active" id="kt_tabs_<%=language.shortcode%>" role="tabpanel">
                                    <div class="form-group row">
                                        <div class="col-lg-6">
                                            <label>Banner Image:</label>
                                            <div class="controls">
                                                <input id="bannerImage" name="bannerImage" type="file" placeholder="Image" accept="image/*" class="form-control"/>
                                            </div>
                                        </div>
                                        <% 
                                        if(response.yachting_world_data.bannerImage) {
                                        %>    
                                            <div class="col-lg-6">
                                                <div class="hover-effect">
                                                    <div class="img"><img src="/uploads/yachting_world/<%= response.yachting_world_data.bannerImage %>" alt="" class="img-responsive" height="80px"/></div>
                                                 </div>
                                            </div>
                                        <% } %>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-lg-6">
                                            <label>Heading:</label>
                                            <input type="text" name="heading" id="heading" class="form-control" placeholder="Enter Heading" value="<%= response.yachting_world_data.heading%>">
                                        </div>
                                        <div class="col-lg-6">
                                            <label>Sub Heading:</label>
                                            <input type="text" name="subHeading" id="subHeading" class="form-control" placeholder="Enter Sub Heading" value="<%= response.yachting_world_data.subHeading%>">
                                        </div>
                                    </div>
        
                                    <div class="form-group row">
                                        <div class="col-lg-12">
                                            <label>Content:</label>
                                            <textarea class="ckeditor form-control" name="content" id="content" placeholder="Enter Content" rows="6"><%= response.yachting_world_data.content%></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-lg-6">
                                            <label>Video:</label>
                                            <input type="text" name="videoLink" id="videoLink" class="form-control" placeholder="Enter Video Link" value="<%= response.yachting_world_data.videoLink%>">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-lg-6">
                                            <label>Image Heading:</label>
                                            <input type="text" name="imageHeading" id="imageHeading" class="form-control" placeholder="Enter Image Heading" value="<%= response.yachting_world_data.imageHeading%>">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-lg-12 gallery-pages">
                                            <label for="image" class="control-label">Images</label>
                                            <div class="row mix-grid">
                                                <% 
                                                if(response.yachting_world_data.image.length >0) {
                                                    for(var i=0; i< response.yachting_world_data.image.length; i++) { %>
                                                    <div class="col-md-2" id="banner_<%=i%>">
                                                        <div class="hover-effect">
                                                            <div class="img"><img src="/uploads/yachting_world/<%= response.yachting_world_data.image[i] %>" alt="" class="img-responsive" height="80px"/></div>
                                                            <div class="info"><a href="javascript:delImg('<%=i%>','<%=response.yachting_world_data.image[i]%>')" class="mix-link"><i class="fas fa-trash-alt" style="color:red"></i></a></div>
                                                        </div>
                                                    </div>
                                                    <% } } %>
                                            </div>
                                        </div>    
                                        <div class="col-lg-6">
                                            <div class="controls">
                                                <input id="image" name="image" type="file" placeholder="Image" accept="image/*" class="form-control imagepickerWithPreviewId" data-previewelement="pageHeadingImagePreview" multiple />
                                            </div>
                                        </div>
                                     </div>
                                </div>
                                <% }else{
                                    let heading = ''
                                    let subHeading = '' 
                                    let content = ''  
                                    let imageHeading = '' 
                                    
                                    if(_.has(response.yachting_world_data.translate,language.shortcode)) {
                                        heading =  response.yachting_world_data.translate[language.shortcode].heading
                                        subHeading =  response.yachting_world_data.translate[language.shortcode].subHeading
                                        content =  response.yachting_world_data.translate[language.shortcode].content
                                        imageHeading =  response.yachting_world_data.translate[language.shortcode].imageHeading
                                    }
                                %>
                                <div class="tab-pane" id="kt_tabs_<%=language.shortcode%>" role="tabpanel">
                                    <div class="form-group row">
                                        <div class="col-lg-6">
                                            <label>Heading:</label>
                                            <input type="text" name="translate[<%=count%>][heading]" id="heading_<%=count%>" class="form-control" placeholder="Enter Heading" value="<%=heading%>">
                                        </div>
                                        <div class="col-lg-6">
                                            <label>Sub Heading:</label>
                                            <input type="text" name="translate[<%=count%>][subHeading]" id="subHeading_<%=count%>" class="form-control" placeholder="Enter Sub Heading" value="<%=subHeading%>">
                                         </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-lg-12">
                                            <label>Content:</label>
                                            <textarea class="ckeditor form-control" name="translate[<%=count%>][content]" id="content_<%=count%>" placeholder="Enter Content" rows="6"><%= content%></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-lg-6">
                                            <label>Image Heading:</label>
                                            <input type="text" name="translate[<%=count%>][imageHeading]" id="imageHeading_<%=count%>" class="form-control" placeholder="Enter Image Heading" value="<%=imageHeading%>">
                                        </div>
                                    </div>
                                   <input type="hidden" name="translate[<%=count%>][language]" value="<%=language.shortcode%>">
                                </div>
                                <% count++ }%>
                                <%})%>
                            </div>
                            <!-- hidden user id -->
                        </div>
                        <div class="kt-portlet__foot">
                            <div class="kt-form__actions">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input type="hidden" name="id" value="<%= response.yachting_world_data._id%>">
                                        <input type="hidden" name="delImgIds" id="delImgIds" value="">
                                        <button type="submit" class="btn btn-primary">Update</button>
                                        <a href="<%= generateUrl('yachting.world.edit') %>" class="btn btn-secondary">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>