<% layout(layout_directory+'/mainLayout') -%>
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <%= page_title %>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <div class="kt-subheader__breadcrumbs">
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">
                    <%= page_title %>
                </span>
            </div>
        </div>
    </div>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="row">
            <div class="col-lg-12">
                <div class="kt-portlet">
                    <form class="kt-form kt-form--label-right" id="addPropertyFrm"
                        action="<%= generateUrl('property.store') %>" method="POST" enctype="multipart/form-data">
                        <div class="kt-portlet__body">

                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <%result.languages.map((data)=>{%>
                                    <%if(data.isDefault){%>
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab"
                                                href="#kt_tabs_<%=data.shortcode%>">
                                                <%=data.title%>
                                            </a>
                                        </li>
                                        <%}else{%>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab"
                                                    href="#kt_tabs_<%=data.shortcode%>">
                                                    <%=data.title%>
                                                </a>
                                            </li>
                                            <%}%>
                                                <%})%>
                            </ul>
                            <div class="tab-content">
                                <% let count=0; result.languages.map((language)=>{
                                    %>
                                    <%if(language.shortcode=='en' ){%>
                                        <div class="tab-pane active" id="kt_tabs_<%=language.shortcode%>"
                                            role="tabpanel">

                                            <div class="kt-portlet kt-portlet--tabs">
                                                <div class="kt-portlet__head">
                                                    <div class="kt-portlet__head-toolbar">
                                                        <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-danger nav-tabs-line-2x nav-tabs-line-right nav-tabs-bold"
                                                            role="tablist">
                                                            <li class="nav-item">
                                                                <a class="nav-link active" data-toggle="tab"
                                                                    href="#kt_portlet_base_demo_2_3_tab_content"
                                                                    role="tab">
                                                                    <i class="fa fa-dolly"
                                                                        aria-hidden="true"></i>Listing Details
                                                                </a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link" data-toggle="tab"
                                                                    href="#kt_portlet_base_demo_2_2_tab_content"
                                                                    role="tab">
                                                                    <i class="fab fa-dribbble"
                                                                        aria-hidden="true"></i>Property Details
                                                                </a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link" data-toggle="tab"
                                                                    href="#kt_portlet_base_demo_2_1_tab_content"
                                                                    role="tab">
                                                                    <i class="fab fa-gitter"
                                                                        aria-hidden="true"></i>Images and Copy
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="kt-portlet__body">
                                                    <div class="tab-content">
                                                        <div class="tab-pane active"
                                                            id="kt_portlet_base_demo_2_3_tab_content" role="tabpanel">
                                                            <h5>Property For</h5>
                                                            <hr>
                                                            <div class="form-group row">
                                                                <div class="col-lg-6">
                                                                    <label>Type:</label>
                                                                    <select name="propertyFor" id="propertyFor"
                                                                        class="form-control required">
                                                                        <option value="">Select</option>
                                                                        <option value="sale">Sale</option>
                                                                        <option value="rent">Rent</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <h5>About The Listing </h5>
                                                            <hr>
                                                            <div class="form-group row">
                                                                <div class="col-lg-6">
                                                                    <label>Title</label>
                                                                    <input type="text" name="title" id="title"
                                                                        class="form-control required" required
                                                                        placeholder="Enter title">
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <label>Sub Title</label>
                                                                    <input type="text" name="subTitle" id="subTitle"
                                                                        class="form-control required" required
                                                                        placeholder="Enter sub title">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <div class="col-lg-6">
                                                                    <label>Property Type:</label>
                                                                    <select name="propertyType" id="propertyType"
                                                                        class="form-control required">
                                                                        <option value="">Select Property Type</option>
                                                                        <% if(response.propertyTypes) {%>
                                                                            <%
                                                                                response.propertyTypes.forEach(propertyType=>
                                                                                {%>
                                                                                <option value="<%= propertyType._id %>">
                                                                                    <%= propertyType.title %>
                                                                                </option>
                                                                                <% })%>
                                                                                    <% } %>
                                                                    </select>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <label>New or Established</label>
                                                                    <div class="kt-radio-inline">
                                                                        <label class="kt-radio">
                                                                            <input type="radio" name="establishedNew"
                                                                                value="established"> Established
                                                                            Property
                                                                            <span></span>
                                                                        </label>
                                                                        <label class="kt-radio">
                                                                            <input type="radio" name="establishedNew"
                                                                                value="new"> New Construction
                                                                            <span></span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <div class="col-lg-6">
                                                                    <label>Land Agent</label>
                                                                    <select name="landAgent" id="landAgent"
                                                                        class="form-control required">
                                                                        <option value="">Select Agent</option>
                                                                        <% if(response.agents) {%>
                                                                            <% response.agents.forEach(agent=> {%>
                                                                                <option value="<%= agent._id %>">
                                                                                    <%= agent.full_name %>
                                                                                </option>
                                                                                <% }); %>
                                                                                    <% } %>
                                                                    </select>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <label>Dual Agent</label>
                                                                    <input type="text" name="dualAgent" id="dualAgent"
                                                                        class="form-control required" required
                                                                        placeholder="Enter dual agent">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <div class="col-lg-6">
                                                                    <label>Rental Per Week</label>
                                                                    <input type="number" name="rentalPerWeek"
                                                                        id="rentalPerWeek" class="form-control required"
                                                                        required placeholder="Enter rental per week">
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <label>Rental Per Calendar Month</label>
                                                                    <input type="number" name="rentalPerMonth"
                                                                        id="rentalPerMonth"
                                                                        class="form-control required" required
                                                                        placeholder="Enter rental per month">
                                                                </div>
                                                            </div>

                                                            <div class="form-group row">
                                                                <div class="col-lg-6">
                                                                    <label>Security Bond</label>
                                                                    <input type="number" name="securityBond"
                                                                        id="securityBond" class="form-control required"
                                                                        required placeholder="Enter security bond">
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <label>Price Display:</label>
                                                                    <select name="priceDisplay" id="priceDisplay"
                                                                        class="form-control required"
                                                                        onchange="changeDisplayPrice()">
                                                                        <option value="">Select Price Display</option>
                                                                        <option value="price">Price</option>
                                                                        <option value="text">Text</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <div class="col-lg-6" id="priceVal">
                                                                    <label>Price</label>
                                                                    <input type="number" name="price" id="price"
                                                                        class="form-control" placeholder="Enter price">
                                                                </div>
                                                                <div class="col-lg-6" id="priceTextVal">
                                                                    <label>Price Text</label>
                                                                    <input type="text" name="priceText" id="priceText"
                                                                        class="form-control"
                                                                        placeholder="Enter price text">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <div class="col-lg-6">
                                                                    <label>Available Date</label>
                                                                    <input type="text" name="availableDate"
                                                                        id="availableDate" class="form-control required"
                                                                        required placeholder="Enter available date">
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <label>Name</label>
                                                                    <input type="text" name="landlord[name]" id="name"
                                                                        class="form-control required" required
                                                                        placeholder="Enter name">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <div class="col-lg-6">
                                                                    <label>Email</label>
                                                                    <input type="text" name="landlord[email]" id="email"
                                                                        class="form-control required" required
                                                                        placeholder="Enter name">
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <label>Phone Number</label>
                                                                    <input type="number" name="landlord[phone]"
                                                                        id="phone" class="form-control required"
                                                                        required placeholder="Enter phone">
                                                                </div>

                                                            </div>
                                                            <h5>Property Address </h5>
                                                            <hr>
                                                            <div class="form-group row">
                                                                <div class="col-lg-6">
                                                                    <label>Country:</label>
                                                                    <select name="propertyAddress[country]" id="country"
                                                                        class="form-control required">
                                                                        <option value="">Select Country</option>
                                                                        <% if(response.countries) {%>
                                                                            <% response.countries.forEach(country=> {%>
                                                                                <option value="<%= country._id %>">
                                                                                    <%= country.country_name %>
                                                                                </option>
                                                                                <% }); %>
                                                                                    <% } %>
                                                                    </select>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <label>City:</label>
                                                                    <select name="propertyAddress[city]" id="city"
                                                                        class="form-control required">
                                                                        <option value="">Select City</option>
                                                                        <% if(response.cities) {%>
                                                                            <% response.cities.forEach(city=> {%>
                                                                                <option value="<%= city._id %>">
                                                                                    <%= city.city %>
                                                                                </option>
                                                                                <% }); %>
                                                                                    <% } %>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <div class="col-lg-3">
                                                                    <label>Street Address Number</label>
                                                                    <input type="number"
                                                                        name="propertyAddress[street_address_number]"
                                                                        id="street_address_number"
                                                                        class="form-control required" required
                                                                        placeholder="Enter street number">
                                                                </div>
                                                                <div class="col-lg-9">
                                                                    <label>Street Address</label>
                                                                    <input type="text"
                                                                        name="propertyAddress[street_address]"
                                                                        id="street_address"
                                                                        class="form-control required" required
                                                                        placeholder="Enter street address">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <div class="col-lg-6">
                                                                    <label>Unit</label>
                                                                    <input type="number" name="propertyAddress[unit]"
                                                                        id="phone" class="form-control required"
                                                                        required placeholder="Enter unit">
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <label>Suburb</label>
                                                                    <input type="text" name="propertyAddress[suburb]"
                                                                        id="suburb" class="form-control required"
                                                                        required placeholder="Enter suburb">
                                                                </div>
                                                            </div>

                                                            <div class="form-group row">
                                                                <div class="col-lg-12">
                                                                    <label>Image</label>
                                                                    <div class="form-group row gallery">
                                                                        <div class="col-lg-5">
                                                                            <input type="file" name="image"
                                                                                id="image"
                                                                                class="form-control required propertyimagepickerWithPreviewId"
                                                                                data-previewelement="propertyimage" required>
                                                                        </div>
                                                                        <div class="col-lg-5">
                                                                            <img class="galleryImage"
                                                                                id="propertyimage" height="80px"
                                                                                src="">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="tab-pane" id="kt_portlet_base_demo_2_2_tab_content"
                                                            role="tabpanel">
                                                            <div class="form-group row">
                                                                <div class="col-lg-6">
                                                                    <label>Total Room</label>
                                                                    <input type="number" name="totalRooms"
                                                                        id="totalRooms" class="form-control required"
                                                                        required placeholder="Enter total rooms">
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <label>Bed Room</label>
                                                                    <input type="number" name="noOfBedRooms"
                                                                        id="noOfBedRooms" class="form-control required"
                                                                        required placeholder="Enter bed rooms">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <div class="col-lg-6">
                                                                    <label>Bath Rooms</label>
                                                                    <input type="number" name="noOfBathRooms"
                                                                        id="noOfBathRooms" class="form-control required"
                                                                        required placeholder="Enter bath rooms">
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <label>Kitchen</label>
                                                                    <input type="number" name="noOfKitchens"
                                                                        id="noOfKitchens" class="form-control required"
                                                                        required placeholder="Enter kitchens">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <div class="col-lg-6">
                                                                    <label>Total Floor</label>
                                                                    <input type="number" name="totalFloors"
                                                                        id="totalFloors" class="form-control required"
                                                                        required placeholder="Enter floors">
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <label>Floor</label>
                                                                    <input type="text" name="floor" id="floor"
                                                                        class="form-control required" required
                                                                        placeholder="Enter floor">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <div class="col-lg-4">
                                                                    <label>Parking Garage Spaces</label>
                                                                    <input type="number" name="parking[garage_spaces]"
                                                                        id="totalFloors" class="form-control required"
                                                                        required placeholder="Enter garage spaces">
                                                                </div>
                                                                <div class="col-lg-4">
                                                                    <label>Parking Carport Spaces</label>
                                                                    <input type="number" name="parking[carport_spaces]"
                                                                        id="totalFloors" class="form-control required"
                                                                        required placeholder="Enter carport spaces">
                                                                </div>
                                                                <div class="col-lg-4">
                                                                    <label>Parking Open Spaces</label>
                                                                    <input type="number" name="parking[open_spaces]"
                                                                        id="totalFloors" class="form-control required"
                                                                        required placeholder="Enter open spaces">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <div class="col-lg-5">
                                                                    <label>Living Areas</label>
                                                                    <input type="number" name="totalArea" id="totalArea"
                                                                        class="form-control required" required
                                                                        placeholder="Enter living areas">
                                                                </div>
                                                                <div class="col-lg-5">
                                                                    <label>House Size</label>
                                                                    <input type="number" name="houseSize[size]"
                                                                        id="houseSize" class="form-control required"
                                                                        required placeholder="Enter house size">
                                                                </div>
                                                                <div class="col-lg-2">
                                                                    <label>Size Unit</label>
                                                                    <select name="houseSize[sizeBy]" id="sizeBy"
                                                                        class="form-control required">
                                                                        <option value="">Select Unit</option>
                                                                        <option value="squares">Squares</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <div class="col-lg-5">
                                                                    <label>Land Size</label>
                                                                    <input type="number" name="landSize[size]"
                                                                        id="landSize" class="form-control required"
                                                                        required placeholder="Enter house size">
                                                                </div>
                                                                <div class="col-lg-2">
                                                                    <label>Size Unit</label>
                                                                    <select name="landSize[sizeBy]" id="landSizeBy"
                                                                        class="form-control required">
                                                                        <option value="">Select Unit</option>
                                                                        <option value="squares">Squares</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <div class="col-lg-12">
                                                                    <label>Characteristics</label>
                                                                    <div class="kt-checkbox-inline">
                                                                        <% if(response.characteristics) {%>
                                                                            <%
                                                                                response.characteristics.forEach(characteristy=>
                                                                                {%>
                                                                                <label class="kt-checkbox">
                                                                                    <input type="checkbox"
                                                                                        name="characteristics"
                                                                                        value="<%=characteristy._id%>">
                                                                                    <%=characteristy.title%>
                                                                                        <span></span>
                                                                                </label>
                                                                                <% }); %>
                                                                                    <% } %>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="form-group row">
                                                                <div class="col-lg-12">
                                                                    <label>Amenities</label>
                                                                    <div class="kt-checkbox-inline">
                                                                        <% if(response.amenities) {%>
                                                                            <% response.amenities.forEach(amenity=> {%>
                                                                                <label class="kt-checkbox">
                                                                                    <input type="checkbox"
                                                                                        name="amenities"
                                                                                        value="<%=amenity._id%>">
                                                                                    <%=amenity.title%>
                                                                                        <span></span>
                                                                                </label>
                                                                                <% }); %>
                                                                                    <% } %>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="tab-pane" id="kt_portlet_base_demo_2_1_tab_content"
                                                            role="tabpanel">
                                                            <div class="form-group row">
                                                                <div class="col-lg-12">
                                                                    <label>Description:</label>
                                                                    <textarea name="description" id="description"
                                                                        cols="30" rows="5"
                                                                        class="form-control"></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <div class="col-lg-12">
                                                                    <h5 class="pull-left">Image Gallery</h5>
                                                                    <button
                                                                        class="btn btn-info btn-rounded pull-right addGallery">Add</button>
                                                                </div>
                                                                <div class="col-lg-12">&nbsp;</div>
                                                                <div class="gallery-item-wrapper col-lg-12">
                                                                    <div class="form-group row gallery">
                                                                        <div class="col-lg-5">
                                                                            <input type="file" name="gallery_0"
                                                                                id="image"
                                                                                class="form-control imagepickerWithPreviewId"
                                                                                data-previewelement="gallery0Preview">
                                                                        </div>
                                                                        <div class="col-lg-5">
                                                                            <img class="galleryImage"
                                                                                id="gallery0Preview" height="80px"
                                                                                src="">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>

                                            </div>



                                        </div>
                                        <% } else{ %>
                                            <div class="tab-pane" id="kt_tabs_<%=language.shortcode%>" role="tabpanel">

                                                <div class="kt-portlet kt-portlet--tabs">
                                                    <div class="kt-portlet__head">
                                                        <div class="kt-portlet__head-toolbar">
                                                            <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-danger nav-tabs-line-2x nav-tabs-line-right nav-tabs-bold"
                                                                role="tablist">
                                                                <li class="nav-item">
                                                                    <a class="nav-link active" data-toggle="tab"
                                                                        href="#kt_portlet_base_demo_2_3_tab_content<%=language.shortcode%>"
                                                                        role="tab">
                                                                        <i class="fa fa-dolly"
                                                                            aria-hidden="true"></i>Listing Details
                                                                    </a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a class="nav-link" data-toggle="tab"
                                                                        href="#kt_portlet_base_demo_2_2_tab_content<%=language.shortcode%>"
                                                                        role="tab">
                                                                        <i class="fab fa-dribbble"
                                                                            aria-hidden="true"></i>Property Details
                                                                    </a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a class="nav-link" data-toggle="tab"
                                                                        href="#kt_portlet_base_demo_2_1_tab_content<%=language.shortcode%>"
                                                                        role="tab">
                                                                        <i class="fab fa-gitter"
                                                                            aria-hidden="true"></i>Images and Copy
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="kt-portlet__body">
                                                        <div class="tab-content">
                                                            <div class="tab-pane active"
                                                                id="kt_portlet_base_demo_2_3_tab_content<%=language.shortcode%>"
                                                                role="tabpanel">
                                                                <h5>About The Listing </h5>
                                                                <hr>
                                                                <div class="form-group row">
                                                                    <div class="col-lg-6">
                                                                        <label>Title</label>
                                                                        <input type="text"
                                                                            name="translate[<%=count%>][title]"
                                                                            id="title_<%=count%>" class="form-control"
                                                                            placeholder="Enter title">
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <label>Sub Title</label>
                                                                        <input type="text"
                                                                            name="translate[<%=count%>][subTitle]"
                                                                            id="subTitle_<%=count%>"
                                                                            class="form-control "
                                                                            placeholder="Enter sub title">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <div class="col-lg-6">
                                                                        <label>Name</label>
                                                                        <input type="text"
                                                                            name="translate[<%=count%>][landlord][name]"
                                                                            id="name_<%=count%>" class="form-control "
                                                                            placeholder="Enter name">
                                                                    </div>
                                                                    <div class="col-lg-6" id="priceTextId">
                                                                        <label>Price Text</label>
                                                                        <input type="text"
                                                                            name="translate[<%=count%>][priceText]"
                                                                            id="priceText_<%=count%>"
                                                                            class="form-control "
                                                                            placeholder="Enter price text">
                                                                    </div>
                                                                </div>

                                                                <h5>Property Address </h5>
                                                                <hr>

                                                                <div class="form-group row">
                                                                    <div class="col-lg-3">
                                                                        <label>Street Address Number</label>
                                                                        <input type="number"
                                                                            name="translate[<%=count%>][propertyAddress][street_address_number]"
                                                                            id="street_address_number_<%=count%>"
                                                                            class="form-control "
                                                                            placeholder="Enter street number">
                                                                    </div>
                                                                    <div class="col-lg-9">
                                                                        <label>Street Address</label>
                                                                        <input type="text"
                                                                            name="translate[<%=count%>][propertyAddress][street_address]"
                                                                            id="street_address_<%=count%>"
                                                                            class="form-control "
                                                                            placeholder="Enter street address">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <div class="col-lg-6">
                                                                        <label>Unit</label>
                                                                        <input type="number"
                                                                            name="translate[<%=count%>][propertyAddress][unit]"
                                                                            id="phone_<%=count%>" class="form-control "
                                                                            placeholder="Enter unit">
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <label>Suburb</label>
                                                                        <input type="text"
                                                                            name="translate[<%=count%>][propertyAddress][suburb]"
                                                                            id="suburb_<%=count%>" class="form-control "
                                                                            placeholder="Enter suburb">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="tab-pane"
                                                                id="kt_portlet_base_demo_2_2_tab_content<%=language.shortcode%>"
                                                                role="tabpanel">
                                                                <div class="form-group row">
                                                                    <div class="col-lg-5">
                                                                        <label>Living Areas</label>
                                                                        <input type="number"
                                                                            name="translate[<%=count%>][totalArea]"
                                                                            id="totalArea_<%=count%>"
                                                                            class="form-control "
                                                                            placeholder="Enter living areas">
                                                                    </div>
                                                                    <div class="col-lg-5">
                                                                        <label>House Size</label>
                                                                        <input type="number"
                                                                            name="translate[<%=count%>][houseSize][size]"
                                                                            id="houseSize_<%=count%>"
                                                                            class="form-control "
                                                                            placeholder="Enter house size">
                                                                    </div>
                                                                    <div class="col-lg-2">
                                                                        <label>House Size Unit</label>
                                                                        <select
                                                                            name="translate[<%=count%>][houseSize][sizeBy]"
                                                                            id="sizeBy_<%=count%>"
                                                                            class="form-control ">
                                                                            <option value="">Select Unit</option>
                                                                            <option value="squares">Squares</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <div class="col-lg-5">
                                                                        <label>Land Size</label>
                                                                        <input type="number"
                                                                            name="translate[<%=count%>][landSize][size]"
                                                                            id="landSize_<%=count%>"
                                                                            class="form-control "
                                                                            placeholder="Enter house size">
                                                                    </div>
                                                                    <div class="col-lg-2">
                                                                        <label>Land Size Unit</label>
                                                                        <select
                                                                            name="translate[<%=count%>][landSize][sizeBy]"
                                                                            id="landSizeBy_<%=count%>"
                                                                            class="form-control ">
                                                                            <option value="">Select Unit</option>
                                                                            <option value="squares">Squares</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="tab-pane"
                                                                id="kt_portlet_base_demo_2_1_tab_content<%=language.shortcode%>"
                                                                role="tabpanel">
                                                                <div class="form-group row">
                                                                    <div class="col-lg-12">
                                                                        <label>Description:</label>
                                                                        <textarea
                                                                            name="translate[<%=count%>][description]"
                                                                            id="description_<%=count%>" cols="30"
                                                                            rows="5" class="form-control"></textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <input type="hidden" name="translate[<%=count%>][language]"
                                                    value="<%=language.shortcode%>">
                                            </div>
                                            <% count++ }%>
                                                <%})%>
                            </div>
                        </div>
                        <div class="kt-portlet__foot">
                            <div class="kt-form__actions">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <a href="<%= generateUrl('property.list') %>"
                                            class="btn btn-secondary">Cancel</a>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script>
        function changeDisplayPrice(event) {
            let priceVal = document.getElementById('priceDisplay').value;
            if (priceVal == 'price') {

                document.getElementById('priceVal').style = 'display : block';
                document.getElementById('priceTextVal').style = 'display : none';

                document.getElementById('priceTextId').style = 'display : none';
            }

            if (priceVal == 'text') {

                document.getElementById('priceTextVal').style = 'display : block';
                document.getElementById('priceVal').style = 'display : none';

                document.getElementById('priceTextId').style = 'display : block';

            }
            if (priceVal == '') {
                document.getElementById('priceVal').style = 'display : none';
                document.getElementById('priceTextVal').style = 'display : none';
                document.getElementById('priceTextId').style = 'display : none';
            }
        }
        document.getElementById('priceVal').style = 'display : none';
        document.getElementById('priceTextVal').style = 'display : none';
        document.getElementById('priceTextId').style = 'display : none';

    </script>